@model ECommerce.Models.ShoppingCardVM
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">

                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Name" class="form-control">
                                <span asp-validation-for="OrderHeader.Name" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Surname</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Surname" class="form-control">
                                <span asp-validation-for="OrderHeader.Surname" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Address" class="form-control">
                                <span asp-validation-for="OrderHeader.Address" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.City" class="form-control">
                                <span asp-validation-for="OrderHeader.City" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Region</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Region" class="form-control">
                                <span asp-validation-for="OrderHeader.Region" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.PhoneNumber" class="form-control">
                                <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Postal Code</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.PostalCode" class="form-control">
                                <span asp-validation-for="OrderHeader.PostalCode" class="text-danger">  </span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">

                            <ul class="list-group mb-3">
                                @foreach (var item in Model.ListCard)
                                {
                                    <li class="list-group-item d-flex justify-content-between lh-sm">
                                        <div>
                                            <h6 class="my-0">@item.Product.Title</h6>
                                            <small class="text-body-secondary">@item.Count</small>
                                        </div>
                                        <span class="text-body-secondary">@((item.Count * item.Product.Price).ToString("0.00"))₺</span>
                                    </li>
                                }


                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <div class="text-success">
                                        <h6 class="my-0">Total Price :</h6>

                                    </div>
                                    <span class="text-success">@(Model.OrderHeader.OrderTotal.ToString("0.00")) ₺</span>
                                </li>

                            </ul>
                        </div>
                        <div class="mb-3 row">

                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.CardName" class="form-control" placeholder="Card Name">
                                <span asp-validation-for="OrderHeader.CardName" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">

                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.CardNumber" class="form-control" placeholder="Card Number">
                                <span asp-validation-for="OrderHeader.CardNumber" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">

                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.ExpirationYear" class="form-control" placeholder="Expiration Year">
                                <span asp-validation-for="OrderHeader.ExpirationYear" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">

                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.ExpirationMonth" class="form-control" placeholder="Expiration Month">
                                <span asp-validation-for="OrderHeader.ExpirationMonth" class="text-danger">  </span>

                            </div>
                        </div>
                        <div class="mb-3 row">

                            <div class="col-sm-9">
                                <input type="text" asp-for="OrderHeader.Cvc" class="form-control" placeholder="CVC">
                                <span asp-validation-for="OrderHeader.Cvc" class="text-danger">  </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success form-control">Complete Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    


</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

